@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Welcome to My Web Notes, where we value your privacy as much as we value a good cup of coffee. Here's the scoop on how we handle your information:</p>

<h4>1. We Don't Collect Much</h4>
<p>We're like digital minimalists – we don't believe in hoarding your data. We're here for a good time, not a long time.</p>

<h4>2. Cookies? Nope, Just the Baked Kind</h4>
<p>The only cookies we're interested in are the ones you can eat. No digital crumbs here.</p>

<h4>3. Your Secrets Are Safe</h4>
<p>We're better at keeping secrets than a best friend's diary. Your info is like a secret handshake – only you know it.</p>

<h4>4. No Sneaky Business</h4>
<p>We're not in the business of being sneaky. We won't sell, rent, or lend your info to anyone. It's yours, not ours.</p>

<h4>5. We're People Too</h4>
<p>Remember, behind the screen, we're people too. We like privacy, and we bet you do too.</p>

<h4>6. Changes? Not Often</h4>
<p>Our Privacy Policy is like a favorite pair of socks – it doesn't change often. But if it does, we'll let you know.</p>

<h4>7. Need Help?</h4>
<p>If you have questions, shout out to us at fakeemail@mywebnotes.org. We're here to help, not to bug.</p>

<p>Thanks for stopping by. Now go and enjoy the internet without worrying about us snooping around.</p>

